<title>About Psicocare</title>

   <!--  <jsp:include page="./header.jsp"></jsp:include>-->


   <section id="bodypad">
      <h1>About Psicocare</h1>
      <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
        nesciunt consequuntur tenetur ab facilis soluta, vero quo reiciendis
        est aliquid distinctio! Vero soluta itaque iure asperiores ipsam
        laborum ipsum at?<br> Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Ipsam nesciunt consequuntur tenetur ab facilis<br>
        soluta, vero quo reiciendis est aliquid distinctio! Vero soluta
        itaque iure asperiores ipsam laborum ipsum at? Lorem ipsum dolor sit,
        amet consectetur adipisicing elit. Ipsam nesciunt consequuntur
        tenetur ab facilis soluta, vero quo reiciendis est aliquid
        distinctio! Vero soluta itaque iure asperiores ipsam laborum ipsum
        at? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
        nesciunt consequuntur tenetur ab facilis<br> soluta, vero quo
        reiciendis est aliquid distinctio! Vero soluta itaque iure asperiores
        ipsam laborum ipsum at?
      </div>
  
      <div id="contact">
        <p>
          Don't hesitate to contact us via our <a href="mailto:fake@fake.la">mail</a>.<br>
          <br>
          <br>
          <br>
          <br>
        </p>
      </div>
      <div class="legal" style="display:inline-flex">
        <p id="globo">
          <a href=#>Derechos de
            usuario </a></p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        <p id="globo2">
          <a href=#>Politica de privacidad&nbsp;&nbsp;</a>
        </p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div>
            <img src="assets\IMG\facebook.png" alt="facebook logo">
          </div>
          <div>
            <img src="assets\IMG\/twitter.png" alt="twitter logo">
          </div>
      </div>
      
      
    </section>
  
  
  
