<p>it works</p>
<!--<table style="align-content: center; margin: auto;">
  <tr>

    <td><a id="res3" [routerLink] ="['./test?paso=1']"><img class="vuelta"  src="IMG/arrow.png">Back</a></td>
    <td><label id="res2" for="total">
        <p>&nbsp;&nbsp;{{progreso}}</p></td>
    <td>
      <div id="test5" class="progress-example; text-align:left;">
        <progress id="total" name="total" max="5" value="2"> {{progressnumber}} </progress>
      </div>
       <input type="submit" value="Enviar">
    </td>
    <td>
  </tr>
</table>
<a ngFor="let pagina of paso" id="res1" [routerLink]="['/test', respuesta.paso]"></a>><img class="ida"src="IMG/arrow.png"> Next</a></td>-->

