body{font-family: gotham;
    font-style: normal;
font-size: 20;
color: rgb(2, 27, 37);
margin: -10px!important;

padding: 70px;
padding-top:0px;
text-align: justify;
position: absolute;
font-weight: 300;
margin-top: 100px;
}